.border-bottom {
    border-bottom: 1px solid;
}

.border-right {
    border-right: 1px solid;
}

.thumbnail-custom {
    display: block;
    margin-top: 20px;
    padding: 20px;
    min-height:300px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.img-custom {
    min-height: 200px;
}

.title {
    color: #357ebd;
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}